body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: whitesmoke;
}

header, footer, nav, section {
    display: block;
}

/* Custom divs */
.main-content {
    margin-left: 2%;
    margin-right: 2%;
}

.header-content {
    padding-left: 2em;
    padding-right: 2em;
}

.logo {
    float: left;
}

.nav-panel {
    background-color: gray;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 40px;
}

.nav-panel li {
    margin-left: 10px;
    display: inline;
}

.nav-panel a {
    font-size: 1.5em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    /*color: #232323;*/
    color: white;
    text-decoration: none;
}

.nav-panel a:hover {
    font-size: 1.5em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: lightcoral;
    text-decoration: none;
}

.tableHeaderClass {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    color: white;
}

.tableHeaderCell {
    background-color: gray;

}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px darkgray;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

input {
    border-radius: 2px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

input[type="submit"] {
    font-weight: bold;
    background-color: white;
    padding: 3px 30px 3px 30px;
}

textarea {
    min-height: 75px;
}

.editor-label {
    font-weight: bold;
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
